.card {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

.card i { 
    font-size: 40px;
    float: left;
    padding-right: 10px;
}

.card p {
    font-size: 24px;
    margin-bottom: 20px;
}

.card h1 {
    text-align: end;
}

.card button {
    display:block;
    margin-left: auto;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 20px;
   
}


.card button div {
    color: white;
}